# Git & GitHub
.git
.gitignore
.github/

# Virtual Environments
.venv/
venv/
env/

# Python Cache & Build
datalake/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Secrets & Local Config
.env
gcp_key.json
*.pem
cloud-sql-proxy

# Testing
.pytest_cache/
tests/
pytest.ini
coverage.xml
htmlcov/
.coverage

# Documentation & Open Source Files
docs/
site/
mkdocs.yml
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
PROJECT_CHARTER.md

# OS specific
.DS_Store
Thumbs.db

cloud-sql-proxy