.gcloudignore

.git
.gitignore
.github/

.venv/
.ruff_cache/
__pycache__/
*.pyc

.env
gcp_key.json
*.pem

.pytest_cache/
tests/
pytest.ini
.coverage
htmlcov/

datalake/
docs/
site/
mkdocs.yml
README.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
PROJECT_CHARTER.md

.DS_Store

cloud-sql-proxy